@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #6ed3e7;
  color: #010305;
}

@layer base {
  :root {
    --background: 199 44% 100%;
    --foreground: 199 58% 3%;
    --muted: 199 17% 89%;
    --muted-foreground: 199 15% 29%;
    --popover: 199 44% 100%;
    --popover-foreground: 199 58% 3%;
    --card: 199 44% 100%;
    --card-foreground: 199 58% 3%;
    --border: 199 11% 90%;
    --input: 199 11% 90%;
    --primary: 199 89% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 199 14% 92%;
    --secondary-foreground: 199 14% 32%;
    --accent: 199 21% 85%;
    --accent-foreground: 199 21% 25%;
    --destructive: 6 87% 34%;
    --destructive-foreground: 6 87% 94%;
    --ring: 199 89% 48%;
    --radius: 0.5rem;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
  }

  .dark {
    --background: 199 35% 3%;
    --foreground: 199 36% 97%;
    --muted: 199 17% 11%;
    --muted-foreground: 199 15% 71%;
    --popover: 199 35% 3%;
    --popover-foreground: 199 36% 97%;
    --card: 199 35% 3%;
    --card-foreground: 199 36% 97%;
    --border: 199 11% 11%;
    --input: 199 11% 11%;
    --primary: 199 89% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 199 16% 15%;
    --secondary-foreground: 199 16% 75%;
    --accent: 199 24% 24%;
    --accent-foreground: 199 24% 84%;
    --destructive: 6 87% 53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 199 89% 48%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
